@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Cuerpo de la Pagina */
body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#0f172a,#1e293b,#334155);
}

.contenedor{
    width: 420px;
    padding: 35px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 20px;
    box-shadow:0 8px 32px rgba(0,0,0,0.35);
    color: white;
}

/* Titulo */
h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Etiquetas */
label{
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    font-size: 0.95rem;
}

/* Entradas de Datos */
input{
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: 15px;
    background: rgba(255,255,255,0.15);
    color: white;
}

input::placeholder{
    color: rgba(255,255,255,0.6);
}
    
/* Botón */
button{
    width: 100%;
    margin-top: 25px;
    padding: 13px;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(135deg,#38bdf8,#2563eb);
    color: white;
    transition: 0.3s;
}

button:hover{
    transform: translateY(-2px);
}

/* Resultado */
#resultado{
    margin-top: 20px;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    font-weight: 500;
    line-height: 1.5;
}